body{
	background-color: #ffff;
}

h1{
	text-align: center;
	font-weight: 200;
}

.tulis_login{
	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: 0 2px 0 2px;
}

.kotak_login{
	width: 30%;
	height: 50%;
	border-radius: 20px;
	widows: 150px;
	background: url(BG1.PNG) 30% 50%;
	margin: 80px auto;
	padding: 20px 20px;
	box-shadow: 0 0 100px 4px #573567;
}

label{
	font-size: 11pt;
}

.form_login{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login{
	background: #869827;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #253765;
	text-decoration: none;
	font-size: 10pt;
}

.alert{
	background: #786871;
	color: white;
	padding: 10px;
	text-align: center;
	border: 1px solid #986196;
}